@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

* {
  box-sizing: border-box;
}
body {
    background-image: linear-gradient(to bottom right,#5f2c82,#49a09d);
    background-size: 2000px 2000px;
  min-height: 190vh;
  
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}
.centers{ text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;}


h1,h2,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}

body, html, .App, #root, .auth-wrapper {
  width: 100%;
  height: 100%;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}
.new-user text-right1{
  text-align: right;
}

.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}
.form-control{
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.custom-control-label1{font-weight: 400;
font-size: 90%;}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}
.container {
	text-align: center;
	position: relative;
	width: 300px;
	margin: 0 auto;
	cursor: pointer;
}
.btn {
    letter-spacing: 0.5px;
  transition: all 0.3s ease;
  cursor: pointer;
  border-radius: 6px;
  background-size: 400% 400%;
  color: #FFF;
  text-transform: uppercase;
  border: 0;
  padding: 13px 30px;
  font-size: 15px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
   
    
   }
  
  /* Demo Stuff End -> */
  
  /* <- Magic Stuff Start */
  .btn-primary {background-image: linear-gradient(to bottom right,#5f2c82,#49a09d 50% );

  }
  /*AdminHome*/
  .titlea{
    text-align: center;
    padding: 16px;
    background-color: white;
    color: black;
    border: 5px solid;
  border-image-source: linear-gradient(45deg,#5f2c82,#49a09d);
  border-image-slice: 1;
  
  }
  .texta{
    font-weight: 500;
    font-size: 20px;
  background: -webkit-linear-gradient(#5f2c82,#49a09d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  }
  select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
  }
  .btgn{ letter-spacing: 0.5px;
    transition: all 0.3s ease;
    cursor: pointer;
    border-radius: 6px;
    background-size: 400% 400%;
    color: #FFF;
    text-transform: uppercase;
    border: 0;
    padding: 13px 30px;
    font-size: 15px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    background-color:#49a09d ;

  }
  .btr{ background-color:#49a09d ;
    color: #FFF;
    border: 0;
    padding: 6px 20px;
    font-size: 15px;

  }
  .brtn{
    padding: 6px 20px;
    font-size: 15px;
    color: #FFF;
    background-image: linear-gradient(to bottom right,#5f2c82,#49a09d 80% );
  }
  .btg{ background-color:#5f2c82 ;
    color: #FFF;
    border: 0;
    padding: 6px 20px;
    font-size: 15px;
  
  }

