* {
    box-sizing: border-box;
  }
  body {
      background-image: linear-gradient(to bottom right,#5f2c82,#49a09d);
      background-size: 2000px 3000px;
    display: flex;
    font-weight: 400;
    font-family: 'Fira Sans', sans-serif;
  }
  
  .centers{ text-align: center;
      display: block;
      justify-content: center;
      align-items: center;
      margin: auto;}
  h3{
      font-weight: 800;
  }
  
  h1,h2,h4,h5,h6,label,span {
    font-weight: 500;
    font-family: 'Fira Sans', sans-serif;
  }
  
  body, html, .App, #root, .auth-wrapper1 {
    width: 100%;
    height: 100%;
  }
  
  .navbar-light1 {
    background-color: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  }
  
  .auth-wrapper1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
  }
  .new-user1 text-right1{
    text-align: right;
  }
  
  .auth-inner1 {
    position:relative;
    top:100px;
    width: 450px;
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s;
  }
  .form-control1{
      width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  .custom-control-label1{font-weight: 400;
  font-size: 90%;}
  
  .auth-wrapper .form-control1:focus {
    border-color: #167bff;
    box-shadow: none;
  }
  
  .auth-wrapper1 h3 {
    text-align: center;
    margin: 0;
    line-height: 1;
    padding-bottom: 20px;
  }
  
  .custom-control-label1 {
    font-weight: 400;
  }
  
  .forgot-password1,
  .forgot-password1 a {
    text-align: right;
    font-size: 13px;
    padding-top: 10px;
    color: #7f7d7d;
    margin: 0;
  }
  
  .forgot-password1 a {
    color: #167bff;
  }
  .container1 {
      text-align: center;
      position: relative;
      width: 300px;
      margin: 0 auto;
      cursor: pointer;
  }
  .btn {
      letter-spacing: 0.5px;
    transition: all 0.3s ease;
    cursor: pointer;
    border-radius: 6px;
    background-size: 400% 400%;
    color: #FFF;
    text-transform: uppercase;
    border: 0;
    padding: 13px 30px;
    font-size: 15px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
     
      
     }
    
    /* Demo Stuff End -> */
    
    /* <- Magic Stuff Start */
    .btn-primary {background-image: linear-gradient(to bottom right,#5f2c82,#49a09d 50% );
  
    }
    
  
